.App {
  text-align: center;
}
ul {
  list-style: none;
}
li{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.5rem
}

input:checked + span {
  text-decoration: line-through;
}